<div class="side-bar ">
    <a href="#about">About</a>
    <a href="#experience">Experience</a>
    <a href="#skills">Skills</a>
    <a href="#contact">Contact</a>
</div>
<style>
    .side-bar {
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-left: -180px;
        gap: 30px;
    }
    .side-bar a {
        border-bottom: 2px solid;
        text-align: right;
        padding: 20px;
        
    }
    .side-bar a:hover {
        background-color: hsl(var(--foreground));
        color: hsl(var(--background));
        transition: all 0.2s;
    }
    .side-bar a:last-child {
        border-bottom: none;
    }
</style>
